/*
Form element "reset."
============================================================
*/

/*
  Don't make edits to this style block,
  as it is simply intended to "undo" the
  default look and feel. Instead, make
  specific edits to "shared styles."
*/

.t7-button,
.t7-input,
.t7-select,
.t7-textarea {
  /* Undo Firefox defaults. */
  -moz-appearance: none;

  /* Undo WebKit defaults. */
  -webkit-appearance: none;

  /* Adjust background display. */
  background: none;
  background-clip: padding-box;

  border: 0;
  border-radius: 0;
  margin: 0;
  outline: 0;
  padding: 0;

  font-family: Arial, sans-serif;
  font-size: inherit;
  vertical-align: middle;
  text-transform: none;
}

.t7-input::ms-clear {
  display: none;
}

.t7-input::ms-reveal {
  display: none;
}

.t7-select::-ms-expand {
  display: none;
}

.t7-input::-webkit-search-decoration {
  display: none;
}

.t7-input::-webkit-outer-spin-button,
.t7-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

/* For Firefox. */
@-moz-document url-prefix("") {
  .t7-button:invalid,
  .t7-input:invalid,
  .t7-select:invalid,
  .t7-textarea:invalid {
    /*
      Suppress red glow that Firefox
      adds to form fields by default,
      even when user is still typing.
    */
    box-shadow: none;
  }

  .t7-button::-moz-focus-inner,
  .t7-input::-moz-focus-inner,
  .t7-select::-moz-focus-inner,
  .t7-textarea::-moz-focus-inner {
    border: 0;
    padding: 0;
  }
}

.t7-textarea[data-has-placeholder="true"] {
  color: #ccc;
  opacity: 1;
}

.t7-input::-webkit-input-placeholder,
.t7-textarea::-webkit-input-placeholder {
  color: #ccc;
  opacity: 1;
}

.t7-input::-moz-placeholder,
.t7-textarea::-moz-placeholder {
  color: #ccc;
  opacity: 1;
}

.t7-input:-ms-input-placeholder,
.t7-textarea:-ms-input-placeholder {
  color: #ccc;
  opacity: 1;
}

.t7-input,
.t7-select,
.t7-textarea {
  line-height: 1.5;
}

.t7-button[class] {
  cursor: pointer;
  display: inline-block;
  font-weight: normal;
  overflow: visible;
  text-align: center;
  text-decoration: none;
  width: auto;
  white-space: nowrap;
}

/*
Labels.
============================================================
*/

.t7-input__label {
  display: inline-block;
  padding-bottom: 5px;
}

.t7-input__label__abbr[title="Required"] {
  color: #c96;
  font-family: "Courier New", monospace;
  font-size: 16px;
  font-weight: bold;
  line-height: 0;
  text-decoration: none;
}

/*
Error message.
============================================================
*/

.t7-input__error {
  color: #f00;
  display: block;
  font-family: Verdana, sans-serif;
  font-size: 11px;
  overflow: hidden;
  padding-top: 5px;
  padding-left: 7px;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.t7-input__error::before {
  padding-right: 3px;

  /* Equal to: "▲". */
  content: "\25B2";
}

/*
  Add offset, because `Textdiv` has its own margin.

  This is due to the fact that a `<div>` cannot be
  put inside a typical wrapping element like `<p>`.
*/
div.t7-textarea + .t7-input__error {
  margin-top: -20px;
  margin-bottom: 20px;
}

/*
Shared styles.
============================================================
*/

.t7-input,
.t7-select,
.t7-textarea {
  background-color: #fff;
  border: 1px solid #999;
  border-radius: 3px;
  color: #000;
  padding: 3px 6px;
  width: 100%;
}

.t7-input,
.t7-select {
  display: inline-block;
  height: 2em;
}

.t7-input,
.t7-textarea {
  caret-color: #000;
}

.t7-input:not([disabled]):active,
.t7-select:not([disabled]):active,
.t7-textarea:not([disabled]):active,
.t7-input:not([disabled]):focus,
.t7-select:not([disabled]):focus,
.t7-textarea:not([disabled]):focus,
.t7-radio:not([disabled]):focus + .t7-radio__fake,
.t7-checkbox:not([disabled]):focus + .t7-checkbox__fake {
  border-color: #39f;
  box-shadow: 0 0 2px 0 #39f;
}

.t7-input--width-auto,
.t7-select--width-auto {
  width: auto;
}

/*
Text area.
============================================================
*/

.t7-textarea {
  clear: both;
  display: block;
  min-height: 5em;
  overflow: auto;
}

div.t7-textarea {
  margin-bottom: 20px;
}

textarea.t7-textarea {
  resize: vertical;
}

/*
Select drop-down.
============================================================
*/

.t7-select,
.t7-select[size="0"],
.t7-select[size="1"] {
  /*
    Encoded version of this file:

    "./_images/t7-select.svg"
  */
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI1MHB4IiBoZWlnaHQ9IjgwcHgiIHZpZXdCb3g9IjAgMCA1MCA4MCI+PGcgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIj48cmVjdCB3aWR0aD0iNTAiIGhlaWdodD0iODAiIGZpbGw9IiNGRkYiIGZpbGwtb3BhY2l0eT0iMCIvPjxwb2x5Z29uIGZpbGw9IiMzMzMiIHBvaW50cz0iMCAzNCAzMCAzNCAxNSA0OS4wMzYiLz48L2c+PC9zdmc+);

  background-repeat: no-repeat;
  background-position: right center;
  background-size: contain;
  padding-right: 30px;
}

/* For Firefox. */
@-moz-document url-prefix("") {
  .t7-select,
  .t7-select[size="0"],
  .t7-select[size="1"] {
    padding-left: 1px;
    padding-right: 27px;
  }
}

/*
Button.
============================================================
*/

.t7-button {
  border-radius: 3px;

  line-height: 2em;
  height: 2em;

  padding-left: 0.6em;
  padding-right: 0.6em;
}

/*
  Using `[class]` to override any inherited
  styles if this is applied to a link `<a>`.
*/
.t7-button[class],
.t7-button[class]:hover {
  color: #fff;
}

.t7-button:not([disabled]):active {
  position: relative;
  top: 1px;
}

.t7-button:not([disabled]):focus {
  box-shadow: #fff 0 0 0 1px, #39f 0 0 1px 2px;
}

/*
Button sizes.
============================================================
*/

.t7-button[data-size="small"] {
  font-size: 80%;
}

.t7-button[data-size="big"] {
  font-size: 120%;
}

/*
Button mode.
============================================================
*/

.t7-button[data-mode="default"] {
  background: #888;
}

.t7-button[data-mode="default"]:not([disabled]):active {
  background: #555;
}

.t7-button[data-mode="primary"] {
  background: #69c;
}

.t7-button[data-mode="primary"]:not([disabled]):active {
  background: #369;
}

.t7-button[data-mode="positive"] {
  background: #693;
}

.t7-button[data-mode="positive"]:not([disabled]):active {
  background: #360;
}

.t7-button[data-mode="negative"] {
  background: #c66;
}

.t7-button[data-mode="negative"]:not([disabled]):active {
  background: #933;
}

.t7-button[data-mode="warn"] {
  background: #c96;
}

.t7-button[data-mode="warn"]:not([disabled]):active {
  background: #963;
}

/* Checkbox & Radio.
==================================================
*/

.t7-radio,
.t7-checkbox {
  margin: 0;
  position: absolute;
  left: -99999px;
}

.t7-radio__label,
.t7-checkbox__label {
  display: inline-block;
  line-height: 1.5;
  min-height: 24px;

  margin: -2px;
  padding: 2px;
  padding-left: 27px;

  position: relative;
  overflow: hidden;
}

.t7-radio__fake,
.t7-checkbox__fake {
  background-color: #fff;
  background-position: center center;
  background-repeat: no-repeat;

  border: 1px solid #999;

  width: 18px;
  height: 18px;

  position: absolute;
  top: 0.25em;
  left: 2px;
}

.t7-checkbox__fake {
  background-size: 10px 8px;
  border-radius: 4px;
}

.t7-radio__fake {
  background-size: 8px 8px;
  border-radius: 10px;
}

/* Checked: radio. */
.t7-radio:checked + .t7-radio__fake {
  /*
    Encoded version of this file:

    "./_images/t7-radio__fake.svg"
  */
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDBweCIgaGVpZ2h0PSIxMDBweCIgdmlld0JveD0iMCAwIDEwMCAxMDAiPjxjaXJjbGUgY3g9IjUwIiBjeT0iNTAiIHI9IjUwIiBmaWxsPSIjNjY2IiBmaWxsLXJ1bGU9ImV2ZW5vZGQiLz48L3N2Zz4=);
}

/* Checked: checkbox. */
.t7-checkbox:checked + .t7-checkbox__fake {
  /*
    Encoded version of this file:

    "./_images/t7-checkbox__fake.svg"
  */
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDBweCIgaGVpZ2h0PSI3NXB4IiB2aWV3Qm94PSIwIDAgMTAwIDc1Ij48cG9seWdvbiBmaWxsPSIjMzMzIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiIHBvaW50cz0iMzUuNzE0IDc0LjM5MyAwIDM4LjY3OSAxMC4xMDcgMjguNTcxIDM1LjcxNCA1NC4xNzkgODkuODkzIDAgMTAwIDEwLjEwNyIvPjwvc3ZnPg==);
}

/*
Disallow selection.
============================================================
*/

.t7-radio__label,
.t7-checkbox__label,
.t7-checkbox[disabled],
.t7-radio[disabled],
.t7-button[disabled],
.t7-input[disabled],
.t7-select[disabled],
.t7-textarea[disabled] {
  user-select: none;
}

/*
Disabled state.
============================================================
*/

.t7-checkbox[disabled],
.t7-radio[disabled],
.t7-button[disabled],
.t7-input[disabled],
.t7-select[disabled],
.t7-textarea[disabled],
.t7-radio[disabled] + .t7-radio__fake,
.t7-checkbox[disabled] + .t7-checkbox__fake {
  cursor: not-allowed;
  opacity: 0.5;
}

.t7-input[disabled],
.t7-select[disabled],
.t7-textarea[disabled],
.t7-radio[disabled] + .t7-radio__fake,
.t7-checkbox[disabled] + .t7-checkbox__fake {
  background-color: #eee;
}

.t7-textarea[disabled] {
  resize: none;
}
